#tooltip {
    position: absolute;
    background-color: white;
    opacity: .75;
    font-weight: 600;
    text-transform: capitalize;
    fill: #787878;
    display: inline-block;

}

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kosugi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');

body {
    /* background-color: rgb(248, 247, 242); */
    overflow-x: hidden;
    position: relative;
    background-color: rgb(243, 236, 236);

}

#sections {
    position: absolute;
    /* display: inline-block; */
    width: 400px;
    top: 60px;
    z-index: 90;
    margin-right: 50px;

}



.categoryLegend {
    font-family: "Domine";
}

.step {
    margin-bottom: 100px;
    height: 900px; /* Was originally 800px */
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}




h1, h2 {
    font-weight: 700;
    text-align: right;
    line-height: 32px;
}

p {
    font-size: 1.3em;
}


strong {
    color: rgb(243, 18, 194);
}

#graphic {
    margin: auto;
    width: 1500px;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}

#vis {
    display: inline-block;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin-left: 0;
    height: 1000px;
    width: 1000px;
}

.tick line {
    stroke: 'red'
}

/* svg circle:hover{
    cursor: pointer;
} */

.swatch {
    fill: #939393;
}

.sizeLegend2 {
    opacity: 0.7
}

a {
    color: rgb(221, 33, 250);
    text-decoration: none;
}

img {
    display: none;
}

line {
    stroke: black;

}

.hover {
    stroke: black;
    stroke-width: 1;
    opacity: 0.7;
}
#barchart1 {
    position: fixed;
    margin-left: 500px;
}

#barchart2 {
    position: fixed;
    margin-left: 500px;
}

#sortLabel.clicked{
   
   font-size: 1.1em;
   text-align: center;
   color: rgb(243, 18, 194);
}

#sortLabelButton {
    fill:  lightgrey;
}

#sortLabelButton.clicked {
    fill:  darkgrey;
    stroke: black;
    stroke-width: 1;
}

button {
    display:inline-block;
    padding:0.2em 0.8em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:1em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color:#f14ebd;
}
button:hover{
    border-color: rgba(255,255,255,1);
}


#tooltip-bar2 {
    position: absolute;
    background: silver;
    text-align: left;
    max-width: 300px;
    border-radius: 5px;
    color: black;
    font-size: 1.1em;
    font-family:  "Comic Sans MS", cursive, sans-serif;
    stroke: black;
    box-shadow: -3px 3px 15 px lightgrey;
    opacity: 0.8;
    pointer-events: none;
    margin: 2px;
    z-index:  100;
    
}
#tooltip-bar2 h2{
    margin: 2px;
    font-size: 1.5em;
    font-style: bold;
    text-align: left;
}

#sortLabelButton {
    fill:  lightgrey;
}

#sortLabelButton.clicked {
    fill:  darkgrey;
    stroke: black;
    stroke-width: 1;
}
.selectButtons rect{
    fill: light-grey;
  }

text {
    font-size: 10px;
    font-family:  "Comic Sans MS", cursive, sans-serif;
    stroke: black;
}

.hidden{
    display: none;
}


/* Map Styles */
div.us_map{
    height: 100vh;
    width: 100vw;
}

#map{
    height:1000px;
    width:1000px;
    position:fixed;
    margin-left:700px;
    margin-top:200px
}

.states{
    fill:#d3d3d3;
    stroke:#ffffff;
    stroke-opacity:1;
    stroke-width:0.75;
    stroke-miterlimit:4;
    stroke-dasharray:none;
}

.states:hover{
    fill:gray;
}

#path57{
     stroke:#a9a9a9;
     fill:none;
     stroke-width:2;
}
