

#tooltip {
    position: absolute;
    background-color: white;
    opacity: .75;
    font-weight: 600;
    text-transform: capitalize;
    fill: #787878;
    display: inline-block;

}

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kosugi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');

body {
    /* background-color: rgb(248, 247, 242); */
    overflow-x: hidden;
    position: relative;
    background-color: rgb(243, 236, 236);
    padding: 0px 20px;
}

#sections {
    position: absolute;
    /* display: inline-block; */
    width: 400px;
    top: 60px;
    z-index: 90;
    margin-right: 30px;
}

.categoryLegend {
    font-family: "Domine";
}

.step {
    margin-bottom: 100px;
    height: 900px; /* Was originally 800px */
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}




h1, h2 {
    font-weight: 700;
    text-align: right;
    line-height: 32px;
}

p {
    font-size: 1.3em;
}


strong {
    color: rgb(243, 18, 194);
}

#graphic {
    margin: auto;
    width: 1500px;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}

#vis {
    display: inline-block;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin-left: 0;
    height: 1000px;
    width: 1050px;
}

.tick line {
    stroke: 'red'
}

/* svg circle:hover{
    cursor: pointer;
} */

.swatch {
    fill: #939393;
}

.sizeLegend2 {
    opacity: 0.7
}

a {
    color: rgb(221, 33, 250);
    text-decoration: none;
}

img {
    display: none;
}

line {
    stroke: black;

}

.hover {
    stroke: black;
    stroke-width: 1;
    opacity: 0.7;
}
#barchart1 {
    position: fixed;
    margin-left: 500px;
}

#barchart2 {
    position: fixed;
    margin-left: 500px;
}

#sortLabel.clicked{
   
   font-size: 1.1em;
   text-align: center;
   color: rgb(243, 18, 194);
}

#sortLabelButton {
    fill:  lightgrey;
}

#sortLabelButton.clicked {
    fill:  darkgrey;
    stroke: black;
    stroke-width: 1;
}

button {
    display:inline-block;
    padding:0.2em 0.8em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:1em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color:#f14ebd;
}
button:hover{
    border-color: rgba(255,255,255,1);
}


#tooltip-bar2 {
    position: absolute;
    background: silver;
    text-align: left;
    max-width: 300px;
    border-radius: 5px;
    color: black;
    font-size: 1.1em;
    font-family:  "Comic Sans MS", cursive, sans-serif;
    stroke: black;
    box-shadow: -3px 3px 15 px lightgrey;
    opacity: 0.8;
    pointer-events: none;
    margin: 2px;
    z-index:  100;
    
}
#tooltip-bar2 h2{
    margin: 2px;
    font-size: 1.5em;
    font-style: bold;
    text-align: left;
}

#sortLabelButton {
    fill:  lightgrey;
}

#sortLabelButton.clicked {
    fill:  darkgrey;
    stroke: black;
    stroke-width: 1;
}
.selectButtons rect{
    fill: light-grey;
  }

text {
    font-size: 10px;
    font-family:  "Comic Sans MS", cursive, sans-serif;
    stroke: black;
}

.hidden{
    display: none;
}


/* Map Styles */
.states, .territory{
    fill:gray;
    stroke:#ffffff;
    stroke-opacity:1;
    stroke-width:0.75;
    stroke-miterlimit:4;
    stroke-dasharray:none;
}

.frame{
     stroke:#a9a9a9;
     fill:none;
     stroke-width:2;
}

.state_lines{
    stroke: black;
    stroke-width: 3;
}

/*  Brush Styles */
.regular {
    fill: lightgrey;
}

/* Taken from Homework 6 solution */
/*For the slider*/
/* #toggle_map{


} */

.toggle-text {
    padding-right: 20px;
    padding-top: 5px;
    font-size: 12px;
  }
  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
