body {
    /* background-color: rgb(248, 247, 242); */
    overflow-x: hidden;
    position: relative;
    background-color: rgb(243, 236, 236);
}
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kosugi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');

#sections {
    position: absolute;
    /* display: inline-block; */
    width: 400px;
    top: 60px;
    z-index: 90;
    margin-right: 30px;
}

#tooltip {
    position: absolute;
    background: rgb(241, 241, 241);
    text-align: left;
    max-width: 300px;
    border-radius: 5px;
    color: black;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: "Merriweather"; */
    stroke: black;
    box-shadow: -3px 3px 15 px lightgrey;
    opacity: 0.8;
    pointer-events: none;
    margin: 2px;
    padding: 2px;
}

#tooltip h2{
    margin: 2px;
    font-size: 1.5em;
    font-style: bold;
    text-align: left;
}

.step {
    margin-bottom: 100px;
    height: 900px; /* Was originally 800px */
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
}

h1, h2 {
    font-weight: 700;
    text-align: right;
    line-height: 32px;
}

p {
    font-size: 1.3em;
}

a {
    color: rgb(247, 92, 213);
}
a:hover {
    color: rgb(247, 92, 213);
}

strong {
    color: rgb(247, 92, 213);
}

text {
    font-size: 10px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    stroke: black;
}

#graphic {
    margin: auto;
    width: 1500px;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}

#vis {
    display: inline-block;
    position: fixed;
    top: 0px;
    margin-left: 0;
    height: 1000px;
    width: 1050px;
}

svg circle:hover{
    cursor: pointer;
}

line {
    stroke: black;
}

.hover {
    stroke: black;
    stroke-width: 1;
    opacity: 0.7;
}
.highlighted {
    stroke: black;
    stroke-width: 1;
    fill: grey;
}

label { 
    background:none;
    border: none;
    margin: 0; 
    padding: 0;
}

.link:hover {
    cursor: pointer;
}

.stateNames:hover {
    cursor: pointer;
}

.hidden{
    display: none;
}

.yAxis text{
    font-size: 13px;
}

.xAxis text{
    font-size: 13px;
}

/* Map Styles */
.states, .territory{
    fill:gray;
    stroke:#ffffff;
    stroke-opacity:1;
    stroke-width:0.75;
    stroke-miterlimit:4;
    stroke-dasharray:none;
}

.frame{
     stroke:#a9a9a9;
     fill:none;
     stroke-width:2;
}

.state_lines{
    stroke: black;
    stroke-width: 3;
}

/*  Brush Styles */
.regular {
    fill: lightgrey;
}

/* Language Info Box Style*/
.notice{
    border: solid 3px black;
    background: white;
    margin: 20px 10px 10px 10px;
    padding: 10px 10px 0px 10px;
    text-align: left;
}

/* Button Styling */
.button {
    font: normal normal bold 16px Verdana;
    border: 2px solid #ac7ca7;
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    background: #9c33a5;
    opacity: 0.8;
    border-radius: 3px;
    box-shadow: #ffd4ff 0px 0px 12px 0px;
    text-shadow: #ffe6ff 1px 1px 1px;
    color: #111111;
    text-decoration: none;
    width: 100px;
    outline-color: darkgrey;
}

.button:hover,
.button:focus {
    border: 2px solid #f6b1ef;
    background: rgb(245, 130, 222);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffd4ff), to(#ce95c8));
    background: -moz-linear-gradient(top, #ffd4ff, #ce95c8);
    background: linear-gradient(to bottom, #ffd4ff, #ce95c8);
    color: #111111;
    text-decoration: none;
    outline: none !important;
    box-shadow: none !important;
}
.button:active {
    background:  rgb(245, 130, 222)7;
    background: -webkit-gradient(linear, left top, left bottom, from(#ac7ca7), to(#ac7ca7));
    background: -moz-linear-gradient(top, #ac7ca7, #ac7ca7);
    background: linear-gradient(to bottom, #ac7ca7, #ac7ca7);
    outline-color: darkgrey;
    outline: none !important;
    box-shadow: none !important;
}

.button.active {
    background:  rgb(245, 130, 222)7;
    background: -webkit-gradient(linear, left top, left bottom, from(#ac7ca7), to(#ac7ca7));
    background: -moz-linear-gradient(top, #ac7ca7, #ac7ca7);
    background: linear-gradient(to bottom, #ac7ca7, #ac7ca7);
    outline-color: darkgrey;
    outline: none !important;
    box-shadow: none !important;
}

button:hover{
    border-color: rgba(255,255,255,1);
} 

.btn{
    font: normal normal bold 16px Verdana;
    border: 2px solid #ac7ca7;
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    background: #9c33a5;
    opacity: 0.8;
    transition: background 600ms ease, color 600ms ease;
}

.btn.active{
    /* background:  rgb(245, 130, 222); */
    background: #9c33a5;
    opacity: 0.8;
}

.btn.notActive {
    color: dark grey;
    background-color: #fff;
}

/* Taken from Homework 6 solution */
/*For the slider*/

.toggle-text {
    padding-right: 20px;
    padding-top: 5px;
    font-size: 1.2em;
    font-family: Domine;
  }
  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #9c33a5;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #9c33a5;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
